.navContainer {
 align-items: center;
 text-align: center;
 background-color: #333;
 padding: 10px;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 1;
}

.navHeading {
 color: #fff;
 margin: 0;
}

.navLinks {
 display: flex;
 flex-direction: row;
}

.navLink {
 color: #fff;
 text-decoration: none;
 margin-right: 10px;
}

.navLink:hover {
 text-decoration: none;
 font-weight: bold;
}
@media (max-width: 600px) {
 .navContainer {
  padding: 10px 0;
 }
 .navHeading {
  font-size: 1.2rem;
 }
 .navLink {
  text-align: center;
  font-size: 0.8rem;
  margin-right: 3px;
  border-radius: 4px;
  border: 0.5px solid #555;
 }
}
